@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* scrollbar styles */

body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #111;
}

body::-webkit-scrollbar
{
  width: 12px;
  background-color: #111;
}

body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #FD1015;
}

/* Home section */
.home {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/coding-bg.jpg") no-repeat center;
  background-size: cover;
  height: 65vh;
  color: #e7e7e7;
  min-height: 300px;
  font-family: "Ubuntu", sans-serif;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
  font-size: 24px;
}

.home .home-content .text-2 {
  font-size: 72px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: #FD1015;
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;
  background: #FD1015;
  color: #e7e7e7;
  font-size: 24px;
  font-weight: 800;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #FD1015;
  transition: all 0.3s ease;
}

.home .home-content a:hover {
  color: #FD1015;
  background: none;
}

/* General styles  */

.about,
.hobbies,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}

.about .about-content,
.hobbies .hobbies-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section {
  padding: 50px 0;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

/* About Section styles */

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  height: 350px;
  width: 350px;
  object-fit: cover;
  border-radius: 6px;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right .text span {
  color: #FD1015;
}

.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right a {
  display: inline-block;
  background: #FD1015;
  color: #e7e7e7;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #FD1015;
  transition: all 0.3s ease;
}

.about .about-content .right a:hover {
  color: #FD1015;
  background: none;
}

/* hobbies section styles  */
.hobbies {
  color: #e7e7e7;
  background: #111;
}

.hobbies .hobbies-content .card {
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hobbies .hobbies-content .card:hover {
  background: #FD1015;
}

.hobbies .hobbies-content .card .box {
  text-align: all 0.3s ease;
}

.hobbies .hobbies-content .card:hover .box {
  transform: scale(1.05);
}

.hobbies .hobbies-content .card i {
  font-size: 50px;
  color: #FD1015;
  transition: color 0.3s ease;
}

.hobbies .hobbies-content .card:hover i {
  color: #e7e7e7;
}

.hobbies .hobbies-content .card .text {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

/* contact section styles */

.contact .contact-content .column {
  width: calc(50% - 30px);
}

.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .left p {
  text-align: justify;
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .row {
  display: grid;
  grid-template-columns: 10% auto;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 15px;
}

.contact .contact-content .row i {
  font-size: 24px;
  color: #FD1015;
}

.contact .contact-content .info .head {
  font-weight: 500;
}

.contact .contact-content .info .sub-title {
  color: #333;
}

.contact .right form .fields {
  display: flex;
}

.contact .right form .field,
.contact .right .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .right form .textarea {
  height: 80px;
  width: 100%;
}

.contact .right form .name {
  margin-right: 10px;
}

.contact .right form .email {
  margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}

.contact .right form .button {
  height: 47px;
  width: 170px;
}

.contact .right form .button button {
  width: 100%;
  height: 100%;
  border: 2px solid #FD1015;
  background: #FD1015;
  color: #e7e7e7;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact .right form .button button:hover {
  color: #FD1015;
  background: none;
}

/* social links styles */
.social {
  padding: 0 0 30px 0;
}

.social .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social .social-links .social-link {
  margin-right: 30px;
}

.social .social-links .social-link i {
  font-size: 50px;
  color: #FD1015;
  transition: .3s linear;
}

.social .social-links .social-link #facebook:hover {
  color: #3B5998;
}

.social .social-links .social-link #linkedin:hover {
  color: #007bb5;
}

.social .social-links .social-link #github:hover {
  color: #333;
}

/* lewagon driving styles */
.lewagon-animation {
  height: 270px;
  position: relative;
  overflow: hidden;
}

.lewagon-animation .tokyo-background {
  height: 270px;
  width: 900%;
  background-image: url("images/tokyo-bg.png");
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-repeat: repeat-x;
  animation: moveRight 10s linear infinite;
}

.lewagon-animation .car {
  position: absolute;
  bottom: -12%;
  left: 35%;
  /* animation: drive 7s linear infinite; */
}

.lewagon-animation .car img {
  height: 130px;
  animation: suspension 1s linear infinite;
}

@keyframes moveRight {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-2760px, 0, 0);
  }
}

@keyframes suspension {
  100% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(2px);
  }
  0% {
    transform: translateY(-1px);
  }
}

/* @keyframes drive {
  100% {
    transform: translateX(1500px);
  }
  0% {
    transform: translateX(-800px);
  }
} */

/* footer section styles  */
footer {
  background: #111;
  padding: 20px 23px;
  color: #e7e7e7;
  text-align: center;
}

footer span a {
  color: #FD1015;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}

/* responsivnes */
@media (max-width: 1300px) {
  .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .max-width {
    padding: 0 50px;
  }

  .home .home-content .text-1 {
    font-size: 27px;
  }

  .home .home-content .text-2 {
    font-size: 70px;
  }

  .home .home-content .text-3 {
    font-size: 35px;
  }

  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }

  .max-width {
    max-width: 800px;
  }

  .about .about-content {
    width: 100%;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .right {
    flex: 100%;
  }

  .hobbies .hobbies-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }

  .home .home-content .text-2 {
    font-size: 60px;
  }

  .home .home-content .text-3 {
    font-size: 32px;
  }

  .home .home-content a {
    font-size: 20px;
  }

  .hobbies .hobbies-content .card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 40px;
  }

  .home .home-content .text-3 {
    font-size: 20px;
  }

  .about .about-content .right .text {
    font-size: 25px;
  }
}
